h2 {
  font-size: 30px;
  height: 35px;
}

.prospect {
  text-decoration: underline;
  text-shadow: blue;
}

a {
  font-size: 25px;
}

h1 {
  font-size: 50px;
}

img {
  border-image: solid black;
  glyph-orientation-horizontal: inherit;
}

div p ul li {
  font-size: 30px;
}