h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.prospect {
  text-decoration: underline;
  text-shadow: blue;
}

a {
  font-size: 25px;
}

h1 {
  font-size: 50px;
}

.center {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  text-align: center;
  margin: 4px;
  border: solid black;
  float: right;

}

li {
  font-size: 30px;
}

.panel body p img {
  
  float: left;
  width: 400px;
  border-image: 2px solid black;
}